/* *work sans fonts */

<style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

</style>* {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    max-width: 1920px;
}


/* *header start */

header {

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 44px;

}

.logo {
    display: flex;
    gap: 20px;
}



.g {
    color: #FF42A5;
    font-weight: 700;
    font-size: 2.8rem;
}

.amer {
    color: #0B0223;
    font-weight: 700;
    font-size: 2.8rem;
}


.links a {
    padding: 20px;
    text-decoration: none;
    color: #3C354F;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 1rem;

}

.follow-us-on {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);



}

.yt {
    max-width: 24px;
    margin: 15px;

    border: 0px;
}


/* *header end */

/* *main start */

/* *play like the goat start */

.banner-goat {
    display: flex;
}

.banner-goat-content {
    background-image: url("../images/Group\ 14.png");
}

.banner-goat-el {
    padding: 148px 244px;

}



.b-h3 {
    color: #0B0223;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 3rem;
}

.b-h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 5.93rem;


}

.b-p-1 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 12px;



}

.b-p-2 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 12px;

}

.b-p-3 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 12px;

}

.pl {
    border: none;
}

.dw {
    border: none;
}

.us {
    border: none;
    padding-right: 0px;
}

.sign-in {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    padding: 20px 40px;
    font-size: 1.25rem;
    font-family: Work Sans;
    font-weight: 600;
    border: 0px;
}

.go-rogue {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    padding: 20px 40px;
    font-size: 1.25rem;
    font-family: Work Sans;
    font-weight: 600;
    border: 0px;
    margin-left: 24px;
}

/* *play like the goat end */


/* *we are gamer start */

.we-are-gamer {
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    align-items: center;
    justify-content: center;
    padding: 55px 240px;

}

.we-are-gamer-content {
    text-align: end;
}

.we-are-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
}

.we-are-p1{
color: #534C64;
font-family: Work Sans;
font-size: 1.12rem;
font-weight: 400;
padding-top: 24px;
line-height: 30px;
}

.we-are-btn{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
padding: 21px 40px;
margin-top: 32px;
color: #FFF;
font-family: Work Sans;
font-size: 1.25rem;
font-weight: 600;
border: 0px;

}

.we-are-prps{
    color: #534C64;
    font-size: 1.5rem;
    font-family: Work Sans;
    font-weight: 500;
    margin-top: 24px;
}
.we-are-unlsh{
    color: #534C64;
font-family: Work Sans;
font-size: 2rem;
font-weight: 700;
line-height: 45px;
}



/* *we are gamer end */





/* *main end */



/* *media querry
*media querry
*media querry
*media querry */


/* *media querry for mobile device (576px) from getbootstrap */

@media screen and (max-width: 576px) {

    /* *header */





    /* *play like the goat */



}



/* *media querry for mediam device (768px) from getbootstrap */


@media screen and (min-width: 576px) and (max-width: 768px) {

    /* *header */



}